$primary: #372045;
$primary1: #4b2b5d;
$primary2: #63377c;
$secondary: #e98332;

$color-black1: #001928;
$color-black2: #3d3541;
$color-black3: #6d6871;
$color-black4: #f1f1f1;
$grayscale-4: #b8babe;
$color-white: #ffffff;
$color-black: #000000;
$active-state: #63377c;
$error: #c4211a;
$warning: #c7a169;
$success: #6a8b53;
$success1: #edfff8;
$success2: #e5fffb;
$success3: #e7f9eb;
$grayscale: #bbbbbb;
$border-color: #e9e9e9;
$lable-color: #80848b;
/*font -weight*/
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: 700;
