#scroller {
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.3s ease;
  background: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #333;
}
#scroller.sticky-active {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.topNav {
  background: #fff;
  line-height: normal;
  // position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  color: #000;
  // border: 1px solid red;
  // .container {
  //   max-width: 100%;
  //   padding: 0 size(50);
  //   @include media-breakpoint-down(lg) {
  //     padding: 0 size(16);
  //   }
  // }
}
.navbar-toggler {
  border: 0;
  padding: 0;
  outline: none;
  margin-left: size(20);
  &:focus {
    box-shadow: none;
  }
  .hamburger-toggle {
    position: relative;
    display: inline-block;
    width: size(24);
    height: size(24);
    z-index: 11;
    // float: right;
    .hamburger {
      position: absolute;
      transform: translate(-50%, -50%) rotate(0deg);
      left: 50%;
      top: 50%;
      width: 100%;
      height: 100%;
      pointer-events: none;
      span {
        width: 100%;
        height: size(2);
        position: absolute;
        background: $secondary;
        border-radius: size(2);
        z-index: 1;
        transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1),
          background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
        left: 0px;
        &:first-child {
          top: 30%;
          width: size(12);
          transform-origin: 50% 50%;
          transform: translate(0% -50%) !important;
        }
        &:first-child,
        &:last-child {
          &::before {
            position: absolute;
            width: size(6);
            height: size(6);
            top: size(-2);
            left: 0;
            content: "";
            background: $secondary;
            border-radius: 100%;
          }
        }
        &:last-child {
          left: 0px;
          width: size(18);
          top: auto;
          bottom: 30%;
          transform-origin: 50% 50%;
        }
      }
      &.active {
        span {
          background: $secondary;
          position: absolute;
          margin: 0;
          &:first-child {
            top: 45%;
            transform: rotate(45deg);
            width: 90%;
          }
          &:first-child,
          &:last-child {
            &::before {
              display: none;
            }
          }
          &:last-child {
            top: 45%;
            transform: rotate(-45deg);
            width: 90%;
          }
        }
      }
    }
  }
}
.prime-nav {
  width: 100%;
  justify-content: flex-end;
  @include media-breakpoint-down(lg) {
    background: $white;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 69px;
    padding: 16px;
  }
  &.show {
    .navbar-nav {
      width: 100%;

      height: calc(100% - 50px);
      overflow-y: scroll;
      overflow-x: hidden;
      justify-content: flex-start;
      margin: 0 auto;
      padding-bottom: 50px;
      background: $white;
      @include media-breakpoint-down(md) {
        max-width: size(720);
      }
    }
  }
}
.prime-nav {
  .navbar-nav.navstyle {
    gap: 16px;
    @include media-breakpoint-down(lg) {
      gap: 8px;
    }
  }
}
.menuOpen {
  overflow: auto;
  @include media-breakpoint-down(lg) {
    overflow: hidden;
  }
}

.navbar-brand {
  @include media-breakpoint-down(lg) {
    img {
      max-height: size(42);
    }
  }
}

.banner-item {
  height: 100vh;
  background: $color-black;
  position: relative;
  &::after {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  h2 {
    color: $white;
    font-weight: 600;
    margin-bottom: size(16);
  }
  .item-text {
    padding: 0 10px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: $white;
    z-index: 3;
    p {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: size(16);
    }
  }
}
.prime-nav {
  .nav-link {
    color: $white;
    line-height: 1;
    &.active {
      color: $secondary;
    }
    @include media-breakpoint-down(lg) {
      color: $color-black;
      // border: 1px solid red;
      &.active {
        color: $secondary;
      }
    }
  }
}
.prime-nav {
  ul {
    li {
      &.dropdown {
        &:hover {
          .dropdown-toggle {
            &::after {
              @include media-breakpoint-up(lg) {
                transform: rotate(180deg);
                bottom: size(10);
              }
            }
          }
          .dropdown-menu {
            @include media-breakpoint-up(lg) {
              display: block;
            }
          }
        }
      }
    }
    ul {
      &.dropdown-menu {
        min-width: size(248);
        // box-shadow: 0px 2px 8px #f1f1f1;
        border-radius: 0;
        border: 0;
        @include media-breakpoint-down(lg) {
          min-width: auto;
          width: 100%;
          background: $white;
          box-shadow: none;
          border-radius: 0;
        }
      }
      li {
        border: 0;
        margin-right: 0;
        &.active {
          font-weight: 700;
          .dropdown-item {
            font-weight: 700;
          }
        }
        .dropdown-item {
          background: transparent;
          font-size: size(14);
          padding: size(12) size(16);

          margin-bottom: size(2);
          color: $secondary;
          @include media-breakpoint-down(lg) {
            padding: size(8) size(8);
          }
          &:hover {
            color: #6a8e7f;
          }
        }
      }
    }
  }
}

.fixedheader {
  background: $white;
  border-bottom: 1px solid #e8e8e8;
  .prime-nav {
    .nav-link {
      color: $color-black;
      &.active {
        color: $secondary;
      }
    }
  }
}
.scrollTop {
  top: 0;
  background: $white;
  border-bottom: 1px solid #e8e8e8;
}
.dropdown-toggle {
  &::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    background: url("../images/downarrow-green.svg") no-repeat;
    width: size(20);
    height: size(20);
    transition: all 0.3s ease-in;
    transform: rotate(0);
    position: absolute;
    bottom: 0;
    @include media-breakpoint-down(lg) {
      position: absolute;
      right: size(16);
      top: size(14);
    }
  }
  &.show {
    &::after {
      transform: rotate(180deg);
      @include media-breakpoint-down(lg) {
        top: size(0);
      }
    }
  }
}
